<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head'); %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../../partials/nav'); %>

    <main>
        <%- include('../../partials/products-grid'); %>
    </main>

    <%- include('../../partials/scripts.ejs') %>
</body>

</html>